# Python
__pycache__/
*.py[cod]

# Virtual Environments
env/
venv/
.venv/
movie/

# Environment variables
.env
.env.*

# Django
*.sqlite3
db.sqlite3

# Media files
media/

# Static files
staticfiles/

# Logs
*.log

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
